---
import { useStoryblokApi, type SbBlokData } from "@storyblok/astro";
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { ViewTransitions } from "astro:transitions";
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-500.css';
import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
import '@fortawesome/fontawesome-free/css/solid.min.css';
import '@fortawesome/fontawesome-free/css/brands.min.css';

const storyblokApi = useStoryblokApi()
const response = await storyblokApi.get('cdn/stories/settings/base-layout', {
  version: import.meta.env.PUBLIC_VERCEL_ENV == 'production' ? 'published' : 'draft',
}).then((response: any ) => {
    return response;
}).catch((error: any) => {
    console.log(error);
});

const navigation = response.data.story.content.navigation;
const footer = response.data.story.content.footer;

const { title, description, keywords } = Astro.props;
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? title : 'Johan Torfs - Webdevelopment'}</title>
		<meta name="description" content={description}>
		<meta name="keywords" content={keywords}>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#e1b653">
		<meta name="theme-color" content="#ffffff">

		<ViewTransitions />
	</head>
	<body class="bg-primary-50 text-primary-950 dark:bg-primary-950 dark:text-primary-200 antialiased transition">
		{navigation?.map((blok: SbBlokData) => {            
			return <StoryblokComponent blok={blok} />
		})}
		<slot name="header"/>
        <main><slot/></main>
		{footer?.map((blok: SbBlokData) => {            
			return <StoryblokComponent blok={blok} />
		})}
	</body>
</html>

<script>
	const prefersDark = window.matchMedia('(prefers-color-scheme: dark)');
	const prefersLight = window.matchMedia('(prefers-color-scheme: light)');

	const update = () => {
		const theme = localStorage.getItem('theme');

		if (theme == 'dark') {
			document.documentElement.classList.add('dark');
			localStorage.setItem('theme', 'dark');
		} else if (theme == 'light') {
			document.documentElement.classList.remove('dark');
			localStorage.setItem('theme', 'light');
		} else if (prefersDark.matches) {
			document.documentElement.classList.add('dark');
			localStorage.setItem('theme', 'dark');
		} else if (prefersLight.matches) {
			document.documentElement.classList.remove('dark');
			localStorage.setItem('theme', 'light');
		} else {
			document.documentElement.classList.add('dark');
			localStorage.setItem('theme', 'dark');
		}
	}

	update();
	document.addEventListener('astro:after-swap', update)
</script>